#### Initial setup to make fuguesql work with juptyer notebook

In [1]:
from fugue_notebook import setup
setup ()

In [13]:
import pandas as pd
data = pd.DataFrame({"id": ["A","A","A","B","B","B"],
                    "date": ["2020-01-01", "2020-01-02",
                             "2020-01-03", "2020-01-01",
                             "2020-01-02", "2020-01-03"],
                    "value": [10, None, 30, 20, None, 40]})

In [14]:
data

  id        date  value
0  A  2020-01-01   10.0
1  A  2020-01-02    NaN
2  A  2020-01-03   30.0
3  B  2020-01-01   20.0
4  B  2020-01-02    NaN
5  B  2020-01-03   40.0

#### Use `%%fsql` magic command to execute SQL

In [16]:
%%fsql
SELECT id, date, MIN(value) value
FROM data
WHERE value > 20
GROUP BY id
PRINT

  id        date  value
0  A  2020-01-03   30.0
1  B  2020-01-03   40.0

In [18]:
%%fsql
SELECT *
FROM data
SAVE OVERWRITE "C:/Users/MA17151/Desktop/f.csv" (header=true)

In [21]:
%%fsql
LOAD "C:/Users/MA17151/Desktop/f.csv" (header=true)
SELECT id
PRINT

  id
0  A
1  A
2  A
3  B
4  B
5  B

In [25]:
from fugue_sql import fsql

fsql("""
LOAD "C:/Users/MA17151/Desktop/f.csv" (header=true)

SELECT *
PRINT
""").run("pandas")

  id        date value
0  A  2020-01-01  10.0
1  A  2020-01-02  None
2  A  2020-01-03  30.0
3  B  2020-01-01  20.0
4  B  2020-01-02  None
5  B  2020-01-03  40.0

DataFrames()