In [1]:
import pandas as pd
import pyodbc
from getpass import getpass

In [2]:
!python -V -V

Python 3.8.10 (default, May 19 2021, 13:12:57) [MSC v.1916 64 bit (AMD64)]

In [3]:
dsn = 'SRMDB_P'

In [4]:
user = 'some_user'
pwd = getpass("Enter your mainframe password:")

Enter your mainframe password: ········

In [5]:
sql = """
SELECT
    CURRENT TIMESTAMP as DATETIME_NOW
FROM
    SYSIBM.SYSDUMMY1
"""

In [6]:
# Execute query and save results as a pandas dataframe
with pyodbc.connect(f'DSN={dsn};UID={user};PWD={pwd}') as conn:
    df = pd.read_sql(sql, conn)

In [7]:
df.head()

                DATETIME_NOW
0 2021-05-21 17:52:06.436452