## Purpose: To test connecting to mainframe z/OS with `ibm_db` library

In [1]:
from getpass import getpass

In [ ]:
db = input("Enter database: ")
db_host = input("Enter Database Server Host Name: ")
db_port = input("Enter Database Port: ")
db_user = input("Enter db user id: ")
db_pw   = getpass("Enter db password: ")
db_table = input("Enter table: ")

In [3]:
import ibm_db
import ibm_db_dbi
import pandas as pd

In [4]:
conn_str=f"database={db};hostname={db_host};port={db_port};protocol=tcpip;uid={db_user};pwd={db_pw}"
ibm_db_conn = ibm_db.connect(conn_str,'','')

#### Use `with` context manager to ensure connection will be closed

In [5]:
with ibm_db_dbi.Connection(ibm_db_conn) as conn:
    sql = f"SELECT * FROM {db_table} fetch first 10 rows only"
    df = pd.read_sql(sql, conn)

In [6]:
df

,ROW_INSERT_TSTMP,ROW_UPDATE_TSTMP,ROW_DISUSE_TSTMP,ROW_HISTRC_CNTER,ROW_UPDATE_USER,PLANT_CD,SUPP_NO,ASN_NO,SCAC_CD,TRLR_NO,...,SHIP_TO_LOC_CD,ASN_CREATE_DT,ASN_CREATE_TIME,DSPS_FLAG,MPL_COMPLETE_FLAG,ASN_WEIGHT,ASN_WEIGHT_UOM,SHIP_TRACKING_NO,SPECIAL_HANDLE_CD,IC_FLAG
0,2021-02-09 13:58:16.172340,2021-02-09 23:22:07.665104,9999-12-31 23:59:59.999999,2.0,GGIVB681,AEP,JN999901,RL259049,OISC,5933710PLA,...,01,20210209,135700,N,A,3470.0,01,,,Y
1,2021-02-09 07:56:01.859292,2021-02-10 11:32:08.324426,9999-12-31 23:59:59.999999,2.0,GGIVB681,AEP,JN999901,RL259056,OISC,5933733PLA,...,01,20210209,075500,N,A,1085.0,01,,,Y
2,2021-02-09 11:17:36.605884,2021-02-09 17:02:09.260099,9999-12-31 23:59:59.999999,2.0,GGIVB681,AEP,JN999901,RL259061,OISC,5933724PLA,...,01,20210209,111700,N,A,131.0,01,,,Y
3,2021-02-09 13:56:57.865552,2021-02-09 23:22:07.666486,9999-12-31 23:59:59.999999,2.0,GGIVB681,AEP,JN999901,RL259062,OISC,5933710PLA,...,01,20210209,135600,N,A,812.0,01,,,Y
4,2021-02-09 07:52:48.557112,2021-02-10 11:32:08.326867,9999-12-31 23:59:59.999999,2.0,GGIVB681,AEP,JN999901,RL259065,OISC,5933733PLA,...,01,20210209,075200,N,A,178.0,01,,,Y
5,2021-02-09 11:15:01.627393,2021-02-09 17:02:09.261303,9999-12-31 23:59:59.999999,2.0,GGIVB681,AEP,JN999901,RL259066,OISC,5933724PLA,...,01,20210209,111400,N,A,210.0,01,,,Y
6,2021-02-09 15:33:54.928618,2021-02-10 09:02:33.804783,9999-12-31 23:59:59.999999,2.0,GGIVB681,AEP,JN999901,RL259069,OISC,5436951A,...,01,20210209,153300,N,A,72.0,01,,,Y
7,2021-02-09 10:49:30.495973,2021-02-09 17:02:09.261414,9999-12-31 23:59:59.999999,2.0,GGIVB681,AEP,JN999901,RL259078,OISC,5933724PLA,...,01,20210209,104900,N,A,852.0,01,,,Y
8,2021-02-09 11:15:56.229762,2021-02-09 17:02:09.261576,9999-12-31 23:59:59.999999,2.0,GGIVB681,AEP,JN999901,RL259086,OISC,5933724PLA,...,01,20210209,111500,N,A,378.0,01,,,Y
9,2021-02-09 07:49:09.196816,2021-02-10 10:42:10.120643,9999-12-31 23:59:59.999999,2.0,GGIVB681,AEP,JN999901,RL259087,OISC,5933733PLA,...,01,20210209,074800,N,A,9.0,01,,,Y